<div class="col-md-6">
<h2> User Details</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Employee Id</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td class="hidden">{{user.userId}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.employeeId}}</td>
    <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
  </tr>
  </tbody>
</table>
</div>

<!-- <div class="row form-group">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="firstName">Search</label> <input [(ngModel)]="searchUser"
				placeholder="Search by First Name" name="searchUser"
				required="required" class="form-control" id="searchUser">
		</div>
		<button class="btn btn-primary col-md-2"
			(click)="getUserByFirstName(searchUser)">Search</button>

		<label for="firstName" class="col-md-4" style="text-align: right;">Sort
			By:</label>

		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('firstName')">First Name</button>
		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('lastName')">Last Name</button>
		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('employeeId')">Employee Id</button>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="row form-group">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h3>View Users</h3>

		<table class="table table-striped">
			<thead>
				<tr>
					<th class="hidden">Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Employee Id</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td class="hidden">{{user.userId}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.employeeId}}</td>
					<td><button class="btn btn-info" id="editUserBtnId"
							(click)="editUserById(user)">Edit</button>
						<button class="btn btn-danger margin-left-20"
							(click)="deleteUser(user)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3"></div>
</div> -->