<div class="row form-group">
<div class="col-md-3"></div>
<div class="col-md-6">
 <h3>Add Project</h3> <br>
<form role="form">
  <div class="form-group">
    <label for="firstName">Project:</label>
    <input [(ngModel)]="project.projectName" placeholder="Project Name" name="projectName" required="required" class="form-control" id="projectName">
  </div>
  <div class="form-group">
  
  <input [(ngModel)]="checkboxFlag" name="setStartEndDateId" type="checkbox" id="setStartEndDateId" (change)="triggerSomeEvent()"/>
  <label for="setStartEndDateId" class="margin-left-20">Set Start and End Date</label>
  
  <label for="setStartEndDateId" class="margin-left-20">Start</label>
  <input type='date' [disabled]="isDisabled" name="startDate" class="margin-left-20" #myDate [(ngModel)]='project.startDate'/>
  
  <label for="setStartEndDateId" class="margin-left-20">End Date</label>
  <input type='date' [disabled]="isDisabled" name="endDate" class="margin-left-20" #myDate [(ngModel)]='project.endDate'/>
  
  </div>
  
  <div class="form-group">
    <label for="lastName">Priority:</label>
    <input type="range" [(ngModel)]="project.priority" min="0"  max="30" name="priority" class="form-control" id="priority">
  </div>
  
  <div class="form-group">
    <label for="firstName">Manager:</label>
    <input [(ngModel)]="project.projectName" placeholder="Manager Name" name="projectName" required="required" class="form-control" id="projectName">
  </div>
  
  <input [(ngModel)]="project.projectId" name="projectId" required="required" class="form-control hidden" id="projectId">

  <button class="btn btn-success" *ngIf="!project.projectId" id="addProjectBtnId" (click)="createProject()">Add Project</button>
  
  <button class="btn btn-success" *ngIf="project.projectId" id="updateProjectBtnId" (click)="updateProject(project)">Update Project</button>
  
  <input type="reset" class="btn btn-info margin-left-20" value="Reset" />
</form>
</div>
<div class="col-md-3"></div>
</div>
<hr>

<div class="row form-group">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="form-group">
		<label for="firstName">Search</label>
    	<input [(ngModel)]="searchProject" placeholder="Search by Project Name" name="searchProject" required="required" class="form-control" id="searchProject">
    	</div>
		<button class="btn btn-primary col-md-2" (click)="getProjectByFirstName(searchProject)">Search</button>
		
		<label for="firstName" class="col-md-2" style="text-align: right;">Sort By:</label>
		
		<button class="btn btn-link col-md-2" (click)="sortListByParameter('startDate')">Start Date</button>
		<button class="btn btn-link col-md-2" (click)="sortListByParameter('endDate')">End Date</button>
		<button class="btn btn-link col-md-2" (click)="sortListByParameter('priority')">Priority</button>
		<button class="btn btn-link col-md-2" (click)="sortListByParameter('completed')">Completed</button>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="row form-group">
<div class="col-md-3"></div>
<div class="col-md-6">
<h3> View Projects</h3>

<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>Project Name</th>
    <th>Last Name</th>
    <th>Employee Id</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <td class="hidden">{{project.projectId}}</td>
    <td>{{project.firstName}}</td>
    <td>{{project.lastName}}</td>
    <td>{{project.employeeId}}</td>
    <td><button class="btn btn-info" id="editProjectBtnId" (click)="editProjectById(project)"> Edit</button>
    	<button class="btn btn-danger margin-left-20" (click)="deleteProject(project)"> Delete</button></td>
  </tr>
  </tbody>
</table> -->


<div *ngFor="let project of projects">
	<hr class="dotted-hr-line">
	<span class="hidden">{{project.projectId}}</span>
	<div class="row form-group">
		<div class="col-sm-5">
			<div class="row form-group">
				<div class="col-sm-4">
					<div class="col-sm-4"> Project {{project.projectName}}</div>
					<div class="row form-group">
						<div class="col-sm-2">
							<div class="col-sm-2"> No of Tasks {{project.priority}}</div>
							<div class="col-sm-2"> Completed {{project.priority}}</div>
						</div>
						<div class="col-sm-2">
							<div class="col-sm-2"> Start Date {{project.startDate}}</div>
							<div class="col-sm-2"> End Date {{project.endDate}}</div>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
					<div> Priority {{project.priority}}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<div><button class="btn btn-info" id="editProjectBtnId" (click)="editProjectById(project)"> Edit</button></div>
			<button class="btn btn-danger margin-left-20" (click)="deleteProject(project)"> Delete</button>
		</div>
	</div>
</div>



</div>
<div class="col-md-3"></div>
</div>
