<div class="row form-group">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h3>Add Project</h3>
		<br>
		<form role="form">
			<div class="form-group">
				<label for="firstName">Project:</label> <input
					[(ngModel)]="project.projectName" placeholder="Project Name"
					name="projectName" required="required" class="form-control"
					id="projectName">
			</div>
			<div class="form-group">

				<input [(ngModel)]="checkboxFlag" name="setStartEndDateId"
					type="checkbox" id="setStartEndDateId"
					(change)="triggerSomeEvent()" /> <label for="setStartEndDateId"
					class="margin-left-20">Set Start and End Date</label> <label
					for="setStartEndDateId" class="margin-left-20">Start</label> <input
					type='date' [disabled]="isDisabled" name="startDate"
					class="margin-left-20" #myDate [(ngModel)]="project.startDate" /> <label
					for="setStartEndDateId" class="margin-left-20">End Date</label> <input
					type='date' [disabled]="isDisabled" name="endDate"
					class="margin-left-20" #myDate [(ngModel)]="project.endDate" />

			</div>

			<div class="form-group">
				<label for="lastName">Priority:</label> <input type="range"
					[(ngModel)]="project.priority" min="0" max="30" name="priority"
					class="form-control" id="priority">
			</div>

			<jw-modal id="custom-modal-1">
			<div class="row form-group">
				<div class="col-md-12">
					<h3>Select Manager</h3>
					<br>
					<div class="form-group">
						<div class="col-md-6">
							<input [(ngModel)]="searchUser"
								placeholder="Search by First Name" name="searchUser"
								required="required" class="form-control" id="searchUser">
						</div>
						<div class="col-md-2">
							<button class="btn btn-primary"
								(click)="getUserByFirstName(searchUser)">Search</button>
						</div>
					</div>
					<br>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-12">

					<table class="table table-striped">
						<thead>
							<tr>
								<th class="hidden">Id</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Employee Id</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let userFrmList of users">
								<td class="hidden">{{userFrmList.userId}}</td>
								<td>{{userFrmList.firstName}}</td>
								<td>{{userFrmList.lastName}}</td>
								<td>{{userFrmList.employeeId}}</td>
								<td><button class="btn btn-info" id="editUserBtnId"
										(click)="selectUser('custom-modal-1', userFrmList)">
										Select</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div align="center">
				<button class="btn btn-primary"
					(click)="closeModal('custom-modal-1');">Close</button>
			</div>
			</jw-modal>

			<div class="form-group row">
				<div class="col-md-10">
					<label for="firstName">Manager:</label> <input
						[(ngModel)]="userFirstName" [disabled]="true"
						placeholder="Manager Name" name="userFirstName"
						required="required" class="form-control" id="userFirstName">
					<input [(ngModel)]="project.user" name="projectUser"
						required="required" class="form-control hidden" id="projectUser">
				</div>
				<div class="col-md-2">
					<br>
					<button class="btn btn-primary"
						(click)="openModal('custom-modal-1')">Search</button>
				</div>
			</div>

			<div class="form-group">
				<input [(ngModel)]="project.projectId" name="projectId"
					required="required" class="form-control hidden" id="projectId">

				<button class="btn btn-success" *ngIf="!project.projectId"
					id="addProjectBtnId" (click)="createProject()">Add Project</button>

				<button class="btn btn-success" *ngIf="project.projectId"
					id="updateProjectBtnId" (click)="updateProject(project)">Update
					Project</button>

				<input type="reset" class="btn btn-info margin-left-20"
					value="Reset" />

			</div>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>
<hr>

<div class="row form-group">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="firstName">Search</label> <input
				[(ngModel)]="searchProject" placeholder="Search by Project Name"
				name="searchProject" required="required" class="form-control"
				id="searchProject">
		</div>
		<button class="btn btn-primary col-md-2"
			(click)="getProjectByFirstName(searchProject)">Search</button>

		<label for="firstName" class="col-md-2" style="text-align: right;">Sort
			By:</label>

		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('startDate')">Start Date</button>
		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('endDate')">End Date</button>
		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('priority')">Priority</button>
		<button class="btn btn-link col-md-2"
			(click)="sortListByParameter('completed')">Completed</button>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="row form-group">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h3>View Projects</h3>

		<div *ngFor="let project of projects">
			<hr class="dotted-hr-line">
			<span class="hidden">{{project.projectId}}</span>
			<div class="row form-group">
				<div class="col-sm-10">
					<div class="row form-group">
						<div class="col-sm-10">
							<div class="row form-group">
								<div class="col-sm-12">
									<div>
										<strong>Project</strong> {{project.projectName}}
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6">
									<div>
										<strong>No of Tasks</strong> {{project.priority}}
									</div>
									<div>
										<strong>Start Date</strong> {{project.startDate}}
									</div>
								</div>
								<div class="col-sm-6">
									<div>
										<strong>Completed </strong>{{project.completed}}
									</div>
									<div>
										<strong>End Date </strong>{{project.endDate}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<div>
								<div>
									<strong>Priority</strong>
								</div>
								<div>{{project.priority}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div>
						<button class="btn btn-info" id="editProjectBtnId"
							(click)="editProjectById(project)">Edit</button>
					</div>
					<button class="btn btn-danger" (click)="deleteProject(project)">
						Delete</button>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-3"></div>
</div>
