<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to Project Application!
  </h1>
</div>
<br/>

<nav class="navbar navbar-default padding-left-40" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header padding-right-20">
      <a class="navbar-brand cursor-pointer" routerLink="/projects">Add Project</a>
    </div>
    <div class="navbar-header padding-right-20">
      <a class="navbar-brand cursor-pointer" routerLink="/addTasks">Add Task</a>
    </div>
    <div class="navbar-header padding-right-20">
      <a class="navbar-brand cursor-pointer" routerLink="/users">Add User</a>
    </div>
    <div class="navbar-header padding-right-20">
      <a class="navbar-brand cursor-pointer" routerLink="/viewTasks">View Task</a>
    </div>
  </div>
</nav>
    
<router-outlet></router-outlet>
</div>